
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
.emoji_cue {
  background: url('./icon/emoji-cue.jpg');
}
.emoji_think {
  background:url('./icon/emoji-cue.jpg');
}
