<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>
  /*
   * JavaScript实现版本号比较
   * 传入两个字符串，当前版本号：currentVersion；比较版本号：activeVersion
   * 调用方法举例：compareVersion('5.12.3','5.12.2')，将返回true
   */

  compareVersion('2.6.1','2.6.5')

  function compareVersion(currentVersion,activeVersion) {
    console.log(currentVersion, activeVersion)
    var arr1 = currentVersion.split('.');
    var arr2 = activeVersion.split('.');
    //将两个版本号拆成数字
    var minL = Math.min(arr1.length, arr2.length);
    var pos = 0;        //当前比较位
    var diff = 0;        //当前为位比较是否相等

    //逐个比较如果当前位相等则继续比较下一位
    while (pos < minL) {
      diff = parseInt(arr1[pos]) - parseInt(arr2[pos]);
      if (diff != 0) {
        break;
      }
      pos++;
    }

    if (diff > 0) {
      console.log('新版本')
    } else if (diff == 0) {
      console.log('稳定版')
    } else {
      console.log('旧版本')
    }
  }
</script>
</body>
</html>
